.title-second-box
    position: relative
    align-self: center
    width: 45rem
    height: 13rem
    &__ellipse
        width: 11rem
        height: 11rem
        border-radius: 50rem
        background: #8613A5
        position: absolute
        top: 1rem
        left: -4rem
        z-index: 20
    &__text
        z-index: 30
        position: absolute