.header
    &__container
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding-top: 3.8rem
        z-index: 130
        transition: all .5s
    &__logo
        width: 6.6rem
        height: 6.6rem

.sticky
    position: fixed
    left: 50%
    transform: translateX(-50%)
    background-color: rgba(28, 18, 31, 0.75)
    padding-top: 0rem