.hero-section
    &__container
        position: relative
        height: 100rem
        display: grid
        grid-template-columns: 1fr 62rem
    &__left
        padding-top: 17rem
    &__title-first
        margin-bottom: 7.7rem
        animation: leftToRight 1.5s ease-out .3s
        animation-fill-mode: backwards
    &__right
        padding: 14rem 0 0 6rem
    &__btn-box
        margin-bottom: 12rem
        animation: leftToRightSmall 2s ease-out 1.3s
        animation-fill-mode: backwards
    &__counter-box
        display: flex
        justify-content: space-between
        padding: 0 10rem 0 0
    &__main-card
        animation: leftToRightBig 2s ease-out 2s
        animation-fill-mode: backwards
    &__blur-light-effect
        position: absolute
        width: 100%
        height: 100%
        &__ellipse
            position: absolute
            top: 66rem
            right: 37rem
            background: #BB00AB
            width: 31rem
            height: 31rem
            border-radius: 50rem
            filter: blur(17.5rem)
        &__rectangle1
            position: absolute
            top: -11rem
            right: -5rem
            background: rgba(96, 231, 206, 0.5)
            width: 33.4rem
            height: 18.8rem
            transform: rotate(-4.93deg)
            filter: blur(22.5rem)
        &__rectangle2
            position: absolute
            top: 67.4rem
            left: -30rem
            background: rgba(231, 178, 38, 0.8)
            width: 40.2rem
            height: 20.8rem
            transform: rotate(-4.93deg)
            filter: blur(22.5rem)
        &__rectangle3
            position: absolute
            top: 61.7rem
            right: 18.7rem
            background: rgba(96, 231, 206, 0.67)
            width: 44.6rem
            height: 24.7rem
            transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0)
            filter: blur(22.5rem)
        &__rectangle4
            position: absolute
            top: 18.8rem
            right: -10rem
            background: #D53D5C
            width: 44.5rem
            height: 22.7rem
            transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0)
            filter: blur(22.5rem)
        &__rectangle5
            position: absolute
            top: 53.8rem
            right: -10rem
            background: rgba(231, 178, 38, 0.83)
            width: 44.5rem
            height: 22.7rem
            transform: matrix(-0.79, -0.62, 0.69, -0.73, 0, 0)
            filter: blur(22.5rem)
