.live-auctions-section
    width: 100%
    height: 100rem
    background: linear-gradient(346deg, #251928 0%, rgba(37, 25, 40, 0.00) 100%)
    position: relative
    &__blur-rectangle
        width: 23rem
        height: 17rem
        background: rgba(231, 178, 38, 0.70)
        position: absolute
        top: 4rem
        left: 15rem
        filter: blur(22.5rem)